##  Per Capita Co2 Emission ☄️


### Co2 emission per country from 1750 - 2020 
#### Source: https://www.icos-cp.eu/science-and-impact/global-carbon-budget/2021

In [45]:
from cachetools import TTLCache
from bs4 import BeautifulSoup
import pandas as pd 
import requests

from itertools import chain
import re
import time

In [46]:
df = pd.read_csv("co-emissions-per-capita.csv")
df['year'] = df['Year'].astype(str)

In [30]:
df['idx'] = df.groupby('year').cumcount()

In [41]:
#pivot table 
df = df.pivot(index='Entity',columns='year')[['Annual CO2 emissions (per capita)']]

In [43]:
df.to_csv('co24.csv', index=True)

            Annual CO2 emissions (per capita)                                 \
year                                     1750    1760   1770    1780    1790
Entity
Afghanistan                               NaN     NaN    NaN     NaN     NaN
Africa                                    NaN     NaN    NaN     NaN     NaN
Albania                                   NaN     NaN    NaN     NaN     NaN
Algeria                                   NaN     NaN    NaN     NaN     NaN
Andorra                                   NaN     NaN    NaN     NaN     NaN
...                                       ...     ...    ...     ...     ...
Vietnam                                   NaN     NaN    NaN     NaN     NaN
World                                  0.0125  0.0128  0.015  0.0169  0.0206
Yemen                                     NaN     NaN    NaN     NaN     NaN
Zambia                                    NaN     NaN    NaN     NaN     NaN
Zimbabwe                                  NaN     NaN    NaN     NaN     NaN

                                                     ...                  \
year           1800    1801    1802    1803    1804  ...    2011    2012
Entity                                               ...
Afghanistan     NaN     NaN     NaN     NaN     NaN  ...  0.4020  0.3279
Africa          NaN     NaN     NaN     NaN     NaN  ...  1.1809  1.1456
Albania         NaN     NaN     NaN     NaN     NaN  ...  1.7178  1.6018
Algeria         NaN     NaN     NaN     NaN     NaN  ...  3.2679  3.4269
Andorra         NaN     NaN     NaN     NaN     NaN  ...  5.8625  5.9120
...             ...     ...     ...     ...     ...  ...     ...     ...
Vietnam         NaN     NaN     NaN     NaN     NaN  ...  1.7017  1.5874
World        0.0285  0.0283  0.0371  0.0317  0.0344  ...  4.8950  4.9079
Yemen           NaN     NaN     NaN     NaN     NaN  ...  0.8481  0.7465
Zambia          NaN     NaN     NaN     NaN     NaN  ...  0.2405  0.2880
Zimbabwe        NaN     NaN     NaN     NaN     NaN  ...  0.7557  0.6011


year           2013    2014    2015    2016    2017    2018    2019    2020
Entity
Afghanistan  0.2616  0.2330  0.2297  0.1906  0.1890  0.2245  0.3193  0.3124
Africa       1.1227  1.1837  1.1191  1.1189  1.1131  1.0865  1.0772  0.9896
Albania      1.6971  1.9406  1.5553  1.5563  1.8382  1.6422  1.6882  1.5757
Algeria      3.4723  3.6617  3.7677  3.6726  3.7434  3.8241  3.8706  3.5346
Andorra      5.8972  5.8281  5.9663  6.0676  6.0435  6.4232  6.5052  6.0350
...             ...     ...     ...     ...     ...     ...     ...     ...
Vietnam      1.6443  1.8428  2.0825  2.0586  2.0639  2.3415  2.6986  2.6126
World        4.8930  4.8707  4.8097  4.7496  4.7595  4.8022  4.7582  4.4654
Yemen        0.9932  0.9377  0.4833  0.3838  0.3575  0.3503  0.3436  0.3275
Zambia       0.2959  0.3167  0.3210  0.3458  0.3867  0.4215  0.3946  0.3575
Zimbabwe     0.8866  0.8763  0.8850  0.7653  0.6730  0.8210  0.7476  0.7086

[230 rows x 226 columns]